<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Scraper</title>
</head>
<body>
    <h1>Your leads!:</h1>
    {% if leads %}
        <ul>
        {% for company_name, details in leads.items() %}
            <li>
                <strong>{{ company_name }}</strong><br>
                <em>Phone: {{ details[0] }}</em><br>
                <a href="{{ details[1] }}" target="_blank">Company Link</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No leads found</p>
    {% endif %}
</body>