<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Scraper</title>
</head>
<body>
    <h1>Get your leads g</h1>
    <form action="/leads" method="POST">
        <p>
            <input type="text" name="niche" id="niche" placeholder="Niche">
        </p>
    
        <p>
            <input type="text" name="location" id="location" placeholder="Location">
        </p>
    
        <p>
            <input type="number" name="amount" id="amount" placeholder="Amount of leads">
        </p>
    
        {% if errors %}
        <div class = "errors-class" style="color:red">
            {{errors}}
        </div>
        {% endif %}
    
        <p>
            <input type="submit" value="submit" class="submit-button">
        </p>
        <br>
    </form>
</body>